language: c

matrix:
  include:
    - os: linux
    - os: osx

compiler:
  - gcc
  - clang

addons:
  apt:
    sources:
      - george-edison55-precise-backports
    packages:
      - cmake-data
      - cmake

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install expat libyaml openssl curl; fi

script: 
  - mkdir build
  - cd build 
  - cmake .. 
  - make
  - make test

