language: c

matrix:
  include:
    - os: linux
      compiler: gcc
    - os: linux
      compiler: clang
    - os: osx
      compiler: clang

addons:
  apt:
    sources:
      - george-edison55-precise-backports
    packages:
      - cmake-data
      - cmake
      - libjansson-dev
      - libmicrohttpd-dev
  homebrew:
    packages:
      - expat 
      - libyaml
      - openssl 
      - curl

script: 
  - mkdir build
  - cd build 
  - cmake .. 
  - make
  - make test

