[Unit]
Description=Bitdribble daemon service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/bitd-agent -c /etc/bitd.yml -lf /var/log/bitd 
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target